/* Default styles for small screens and anything not caught by media */
body{
    background-image: linear-gradient(rgba(221, 160, 221, 0),rgba(221, 160, 221, 1)) ;}

    header {
        display:flex;
        flex-direction: column; 
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
.logo {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 5px solid black;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
    justify-content: center;
    
}

.name{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }

.topnav {
    overflow:hidden;
    background-color: black;
    
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.topnav a:hover {
    background-color: red;
    color: black;
}


.footer{
    background-color: pink;
    text-align: center;
    border: 20px solid pink;
}


@media screen and (width > 600px) {
    .logo {
        display: none;
    }
    .name {
        width: 100px;
    }
}
    
@media screen and (width < 600px) {
    .name {
        display: none;
    }
    .logo {
        width: 100px;
    }
}
    